:root {
  --couleur--background: #fffdf7;
  --couleur--texte--footer: #2e2e3a;
  --couleur--boutons--actions: #e63946;
  --couleur--hover--contrastes: #f4a261;
  --couleur--détails--fraîcheur: #008c45;
  --couleur--fond--de--cartes--UI: #fff0e5;
}

@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  background-color: var(--couleur--background);
}

.burger {
  position: absolute;
  top: 1%;
  left: 1%;
  z-index: 2;
}

.burger svg {
  fill: var(--couleur--background);
}

.mobile__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 300px;
  height: 100vh;
  background-color: var(--couleur--détails--fraîcheur);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  padding: 4rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
  background-image: url("./assets/photo/logo.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 60%;
}

#menu__toggle:checked + label + .mobile__menu {
  transform: translateX(0);
}

.mobile__menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mobile__menu li {
  margin: 1rem 0;
}
.mobile__menu a {
  text-decoration: none;
  color: var(--couleur--background);
  font-size: 1.2rem;
}

.relative {
  position: relative;
}

.background__drapeau {
  width: 100%;
  height: 100px;
}

.logo {
  width: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
  display: none;
}

hr {
  height: 1px;
  background-color: black;
}

h4 {
  font-size: 0.95rem;
  padding-bottom: 0.7rem;
}

p {
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.j__img1 {
  padding-top: 0.5rem;
  width: 100%;
  height: auto;
}

.j__img2 {
  display: none;
}

.j__section1 h2 {
  text-align: center;
}

/* section1 */
.j__section1 .j__h2__1 {
  padding-top: 0.5rem;
}

.j__section1 .j__h2__2 {
  padding-bottom: 0.5rem;
}

.j__section2 .j__h2__3,
.j__h2__4 {
  padding-left: 0.5rem;
}

.j__section2 .j__h2__3 {
  padding-top: 0.7rem;
}

.j__section2 .j__h2__4 {
  padding-bottom: 0.7rem;
}

.section2__div1,
.div2 {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.j__section2__div1 h4,
p {
  padding-bottom: 0.7rem;
}

.j__section2__div1 h4 {
  padding-left: 0.5rem;
}

.j__section3__div1,
.j__div2,
.j__div3,
.j__div4 {
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.j__section3__div1 h2,
p {
  padding-bottom: 0.7rem;
}

.j__section3 .j__h2 {
  text-align: center;
  padding-bottom: 2rem;
}

.__section3__div5 {
  padding: 1.5rem 0;
  text-align: center;
}

.j__section3_div5 p {
  font-style: italic;
  padding: none;
}

footer {
  background-color: var(--couleur--texte--footer);
}

.h2footer {
  color: var(--couleur--fond--de--cartes--UI);
  text-align: center;
  margin-block: 2%;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-block: 4%;
}

.hrfooter {
  width: 90%;
  margin: auto;
  margin-block: 3%;
}

.contact input {
  text-align: center;
  margin-top: 2%;
  border-radius: 2rem;
}

.newsletter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ulfooter {
  display: flex;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  margin-block: 2%;
  margin-inline: 2%;
  gap: 5%;
}

.lifooter {
  padding-inline: 2%;
}

.copyright {
  text-align: center;
  color: var(--couleur--fond--de--cartes--UI);
  font-size: 0.6rem;
  padding-block: 3%;
}

.afooter {
  text-decoration: none;
  color: var(--couleur--fond--de--cartes--UI);
  font-size: 0.6rem;
  text-align: center;
}

.afooter:hover {
  text-decoration: underline;
}

.boutoninscrire {
  background-color: var(--couleur--boutons--actions);
  padding-block: 0.7rem;
  border-radius: 2rem;
  width: 8rem;
  color: var(--couleur--fond--de--cartes--UI);
  position: absolute;
  right: 0rem;
}

.boutonenvoyer {
  background-color: var(--couleur--boutons--actions);
  color: var(--couleur--fond--de--cartes--UI);
  width: 12rem;
  margin: auto;
  padding-block: 0.7rem;
}

.boutonnewsletter {
  position: relative;
  margin-block: 5%;
  width: 20rem;
}

.inputfooter1 {
  width: 12rem;
  margin: auto;
  padding-block: 0.7rem;
}

.inputfooter2 {
  width: 12rem;
  margin: auto;
  padding-block: 0.7rem;
}

.inputfooter3 {
  width: 20rem;
  margin: auto;
  padding-block: 0.7rem;
}

.inputfooter4 {
  padding-block: 0.7rem;
  border-radius: 2rem;
  text-align: center;
  position: relative;
  right: 8%;
  width: 16rem;
}

.reseaux {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.logoinsta {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: inline-block;
}

.logoyt {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: inline-block;
}

.logofacebook {
  width: 60%;
  height: 60%;
  object-fit: contain;
  display: inline-block;
}

.areseaux {
  width: 33%;
}

/* Version Tablette */
@media screen and (min-width: 601px) {
  .logo {
    width: 7rem;
  }

  .navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 0.8rem 0;
  }

  .navbar__sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
  }

  .navigation {
    color: var(--couleur--texte--footer);
  }

  .recherche form {
    top: 40%;
    left: 55%;
    transform: translateX(-50%);
  }

  .burger {
    display: none;
  }

  .mobile__menu {
    display: none;
  }

  .j__section1 {
    position: relative;
  }

  .j__img1 {
    filter: blur(6px);
    width: 100%;
    height: 100%;
  }

  .j__blur {
    color: white;
    position: absolute;
    top: 32%;
    padding: auto;
    width: 100%;
    height: 25%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .j__section1 .j__h2__1,
  .j__h2__2 {
    font-size: 1.3rem;
    padding: 0;
    margin-left: 1.5rem;
  }

  .j__img2 {
    position: absolute;
    top: 24%;
    left: 51%;
    display: block;
    width: 45%;
    height: auto;
  }

  .j__hr1 {
    display: none;
  }

  .j__section2__div0 {
    display: flex;
    justify-content: space-around;
  }

  .j__section2 {
    text-align: center;
  }

  .j__section2 .j__div2 {
    padding-top: 0;
  }

  .j__section2 .j__h2__4 {
    padding-bottom: 1.5rem;
  }

  .j__section3__div1,
  .j__div2,
  .j__div3,
  .j__div4 {
    text-align: center;
  }

  .j__section3__div1 .j__h2__1 {
    display: none;
  }

  .afooter {
    font-size: 0.9rem;
  }

  .ulfooter {
    gap: 1%;
  }

  .inputfooter1 {
    width: 16rem;
    padding-block: 0.8rem;
    font-size: 1.2rem;
  }

  .inputfooter2 {
    width: 16rem;
    padding-block: 0.8rem;
    font-size: 1.2rem;
  }

  .inputfooter3 {
    width: 25rem;
    padding-block: 0.8rem;
    font-size: 1.2rem;
  }

  .boutonenvoyer {
    width: 16rem;
    padding-block: 0.8rem;
    font-size: 1.2rem;
  }

  .inputfooter4 {
    width: 20rem;
    padding-block: 0.8rem;
    position: relative;
    right: 5rem;
    font-size: 1.2rem;
  }

  .boutoninscrire {
    width: 14rem;
    padding-block: 0.8rem;
    position: absolute;
    top: 0rem;
    right: -5rem;
    font-size: 1.2rem;
  }

  .boutonnewsletter {
    position: relative;
  }

  .copyright {
    font-size: 0.9rem;
  }
  .logoinsta {
    width: 50%;
    height: 50%;
  }

  .logoyt {
    width: 50%;
    height: 50%;
  }

  .logofacebook {
    width: 50%;
    height: 50%;
  }
}

/* Version Tablette */
@media screen and (min-width: 699px) {
  .j__section1 .j__h2__1,
  .j__h2__2 {
    font-size: 1.5rem;
  }
}

/* Ajustement de la taille "Recette Melanzane alla Parmigiana" */
@media screen and (min-width: 799px) {
  .j__section1 .j__h2__1,
  .j__h2__2 {
    font-size: 1.7rem;
  }
}

/* Ajustement de la taille "Recette Melanzane alla Parmigiana" */
@media screen and (min-width: 899px) {
  .j__section1 .j__h2__1,
  .j__h2__2 {
    font-size: 2rem;
  }
}

/* Version PC */
@media screen and (min-width: 1024px) {
  header {
    background-color: var(--couleur--background);
  }

  .background__drapeau {
    width: 100%;
    height: 9rem;
    position: absolute;
  }

  .logo {
    width: 10rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  .navbar {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    gap: 5rem;
    padding: 0.8rem 0;
  }

  .navigation {
    color: var(--couleur--texte--footer);
  }

  .recherche {
    background-image: url("./assets/photo/background__recherche.png");
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin-top: 1rem;
    position: absolute;
  }

  .recherche form {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }

  .search__field {
    padding: 1rem;
    border-radius: 0 0.3rem 0.3rem 0;
    border: none;
    width: 40vw;
    max-width: 600px;
    min-width: 250px;
  }

  .recherche button {
    background-color: var(--couleur--boutons--actions);
    padding: 1rem;
    border-radius: 0.3rem 0 0 0.3rem;
    color: white;
    margin-left: -4px;
    border: none;
    font-size: large;
  }

  .recherche input {
    font-size: large;
  }

  .recherche p {
    padding: 16rem 0 0 0;
    text-align: center;
    font-style: italic;
    font-size: x-large;
  }

  .j__section1 .j__h2__1,
  .j__h2__2 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 1.1rem;
  }

  .contactandnewsletter {
    display: flex;
    justify-content: space-around;
  }

  .newsletter {
    display: flex;
    align-items: center;
    justify-content: start;
    border-left: solid white;
    width: 50%;
    padding-top: 0.3rem;
  }

  .hrfooter {
    display: none;
  }

  .inputfooter4 {
    padding-block: 0.7rem;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    right: 8%;
    width: 22rem;
  }

  .boutoninscrire {
    background-color: var(--couleur--boutons--actions);
    padding-block: 0.7rem;
    border-radius: 2rem;
    width: 8rem;
    color: var(--couleur--fond--de--cartes--UI);
    position: absolute;
    right: -3.7rem;
  }

  .boutonnewsletter {
    position: relative;
    margin-block: 5%;
    width: 20rem;
  }

  .contact {
    width: 50%;
    padding-block: 0.2rem;
  }

  .h2footer {
    font-size: 2rem;
    text-align: center;
    margin: 0.2rem;
    padding: 0.1rem;
  }

  .inputfooter1 {
    width: 15rem;
    padding-block: 0.6rem;
    margin-block: 0.2rem;
  }

  .inputfooter2 {
    width: 15rem;
    padding-block: 0.6rem;
    margin-block: 0.2rem;
  }

  .inputfooter3 {
    padding-block: 1rem;
    width: 21rem;
    margin-block: 0.2rem;
  }

  .boutonenvoyer {
    width: 15rem;
    padding-block: 0.6rem;
    margin-block: 0.2rem;
  }

  .afooter {
    font-size: 0.9rem;
  }

  .copyright {
    font-size: 0.9rem;
    padding-block: 1rem;
  }

  .logoinsta {
    width: 50%;
    height: 50%;
  }

  .logoyt {
    width: 50%;
    height: 50%;
  }

  .logofacebook {
    width: 50%;
    height: 50%;
  }

  .reseaux {
    margin-top: 5%;
  }

  .ulfooter {
    margin: 1rem;
  }
}

/* Changer la taille du texte pc 1024< (1400px) */
@media screen and (min-width: 1400px) {
  .j__section1 .j__h2__1,
  .j__h2__2 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.7rem;
  }

  p {
    font-size: 1.5rem;
  }
}
